@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Oferta serwisu komputerowego TRADECOMP</h1><br />

    - Diagnostyka i naprawa komputerów<br />
    - Konfiguracja i instalacja sieci komputerowych<br />
    - Wymiana kondensatorów na płycie głównej<br />
    - Składanie, rozbudowa komputerów<br />
    - Instalacja, naprawa, reinstalacja windows<br />
    - Instalacja i konfiguracja programów, sterowników, poczty email<br />
    - Usuwanie wirusów, koni trojańskich i spyware<br />
    - Konfiguracja i optymalizacja systemu operacyjnego<br />
    - Odzyskiwanie danych<br />
    - Doradztwo<br />
    - Dojazd do klienta<br />





</div>
