@page
@model ITKRAKOW.Pages.pomoc_zdalnaModel
@{
}






<div>
    <a href="https://customdesignservice.teamviewer.com/download/windows/v12/9f24nq8/TeamViewerQS.exe?sv=2020-04-08&se=2023-01-10T17%3A16%3A19Z&sr=b&sp=r&sig=VP5neMC649u8ksfY%2FVBH3xjSHRv%2BtECXF%2BmyQOgRyq0%3D">
        <h1>Pobierz program do pomocy zdalnej</h1><br />

        Program do pomocy zdalnej
    </a>


</div>